<h1>Login page</h1>


<form action="/login" method="POST">
    <div>
        Name: <input type="text" id="name" name="name" required> </br></br>
        Email: <input type="email" id="email" name="email" required> </br></br>
        Password: <input type="password" id="password" name="password" required> </br></br>
        <button type="submit">SUBMIT</button>
    </div>
</form>

<a href="/register">Go to Register page</a>